.example-full-width {
    width: 100%;
  }
  .btn-cancel{
      margin-left:10px;
      border: 3px solid #aaa;
      padding: 7px;
      border-radius: 7px;
      text-decoration: none;
  }
  
  .btn-cancel:hover{
    border: 3px solid #aaa;
    background: rgb(175, 198, 204);
  }
  .validation-error{
    color: orange;
  }