<p>Add Student</p>
<form [formGroup]="studentForm" class="example-form" (ngSubmit) = "onSubmit()">
 <div>
    <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="Name">
      </mat-form-field>
      <div class = "validation-error" *ngIf = "submited && studentForm.controls.Name">
        <div *ngIf = "studentForm.controls.Name.errors && studentForm.controls.Name.errors.required">
          Name is required
        </div>
        <div *ngIf = "studentForm.controls.Name.errors && studentForm.controls.Name.errors.maxlength">
          Name is too long
        </div>
      </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="Address">
      </mat-form-field>
      <div class = "validation-error" *ngIf = "submited && studentForm.controls.Address">
        <div *ngIf = "studentForm.controls.Address.errors && studentForm.controls.Address.errors.required">
          Address is required
        </div>
        <div *ngIf = "studentForm.controls.Address.errors && studentForm.controls.Address.errors.maxlength">
          Address is too long
        </div>
      </div>
  </div>

  <div>
    <mat-form-field class="example-full-width">
        <mat-label>Average</mat-label>
        <input matInput placeholder="Average" formControlName="Average">
      </mat-form-field>
      <div class = "validation-error" *ngIf = "submited && studentForm.controls.Average">
        <div *ngIf = "studentForm.controls.Average.errors && studentForm.controls.Average.errors.required">
          Average is required
        </div>
        <div *ngIf = "studentForm.controls.Average.errors && studentForm.controls.Average.errors.max">
          Average is bigger than 99.9
        </div>
        <div *ngIf = "studentForm.controls.Average.errors && studentForm.controls.Average.errors.min">
          Average is smaller than 45
        </div>
      </div>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="Gender">
        <mat-option *ngFor="let gnd of genderList" [value]="gnd.id">
          {{gnd.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <div class = "validation-error" *ngIf = "submited && studentForm.controls.Gender">
        <div *ngIf = "studentForm.controls.Gender.errors && studentForm.controls.Gender.errors.required">
          Gender is required
        </div>
      </div>
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>University</mat-label>
      <mat-select formControlName="University">
        <mat-option *ngFor="let Unv of universityList" [value]="Unv.id">
          {{Unv.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <div class = "validation-error" *ngIf = "submited && studentForm.controls.University">
        <div *ngIf = "studentForm.controls.University.errors && studentForm.controls.University.errors.required">
          University is required
        </div>
      </div>
  </div>

  <div>
    <button mat-raised-button color="accent" >Save</button>
    <a routerLink="/students" class="btn btn-link btn-cancel">cancel</a>
  </div>
</form>